version: "3.8"

services:
  mysql:
    image: mysql:latest
    container_name: mysql_db
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=mysql_password
      - MYSQL_USER=mysql_user
      - MYSQL_DATABASE=world
      - MYSQL_PASSWORD=mysql_password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis/redis-stack:latest
    container_name: redis_stack
    restart: always
    ports:
      - "6379:6379"
      - "8001:8001"

volumes:
  mysql_data: